@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metrophobic&family=Titillium+Web&display=swap');

h1, a {
    font-family: 'Titillium Web', sans-serif;
}

body {
    font-family: 'Metrophobic', sans-serif;
}

.img-inicio {
    max-width: 70px;
    height: 60px;
}

.img-perfil {
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin-left: 75px;
    margin-right: 50px;
    border: 5px solid black;
    border-radius: 75%;
}

.img-footer {
    max-width: 70px;
    height: 50px;
    margin: 20px;
}

.img-proyecto {
    width: 400px;
    max-height: 300px;
    margin: 40px;
}

.logo-navbar {
    width: 50px;
    height: 50px;
}

.logo {
    height: 200px;
    width: 200px;
    margin-left: 75px;
    margin-right: 50px;
}